<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Approve Leave</title>
</head>
<body>

<h3>Approve Leave Application</h3>
<h1 th:text="${session.application.id}">hi</h1>
<p th:text="${application.id}">DEBUG ID</p>

<form th:action="@{/application-approve/{id}(id=${session.application.id})}"
      method="post">

    <label>Comment</label><br>
    <textarea name="comment"
              placeholder="Enter approval comment"
              required
              rows="4"
              cols="40"></textarea><br><br>

    <button type="submit" class="btn success">
        Approve
    </button>

    <a href="/manager-dashboard" class="btn danger">
        Cancel
    </a>

</form>

</body>
</html>
