<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Login</title>
    
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="login-box">
        <h2>Manager Login</h2>
        <p>Access your dashboard</p>

        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>
	
        <div class="footer-text">
            New manager? <a href="/manager-register">Create Account</a>
        </div>
        <a href="/" class="back-link">← Cancel & Return to Home</a>
    </div>

</body>
</html>