<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manager Dashboard</title>
  <link rel="stylesheet" href="/css/manager-dashboard.css">
</head>
<body>

<!-- ================= NAVBAR ================= -->
<nav class="navbar">
  <div class="nav-left">
    <img src="/images/logo.png" alt="Logo" class="logo">
    <span class="username" th:text="${manager.fullname}">Manager Name</span>
  </div>

  <div class="nav-right">
  	 <a href="/manager-profile" class="btn primary ">profile</a>
    <a href="/employee/create" class="btn primary">Create Employee</a>
    
    <form action="/logout" method="POST">
    	<button type="submit" class="btn danger">LOGOUT</button>
    </form>
  </div>
</nav>

<!-- ================= MAIN ================= -->
<main class="container">

 <!-- ===== SECTION 1: EMPLOYEES ===== -->
<section class="card">
  <h2>All Employees</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Phone</th>
        <th>DOB</th>
        <th>Email</th>
        <th>PAN</th>
        <th>Aadhaar</th>
        <th>Designation</th>
        <th>Gender</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="emp:${employees}" th:if="${not #lists.isEmpty(employees)}">
        <td th:text="${emp.id}">1</td>
        <td th:text="${emp.fullname}">John Doe</td>
        <td th:text="${emp.phone}">9876543210</td>
        <td th:text="${emp.dob}">1998-06-14</td>
        <td th:text="${emp.email}">john@email.com</td>
        <td th:text="${emp.panNumber}">ABCDE1234F</td>
        <td th:text="${emp.aadhaarNumber}">123412341234</td>
        <td th:text="${emp.designation}">Developer</td>
        <td th:text="${emp.gender}">Male</td>
        <!-- DELETE -->
        <td><a th:href="'/edit-employee/'+${emp.id}"><button class="btn primary">Edit</button></a></td>
		<td><a th:href="'/delete-employee/'+${emp.id}"><button class="btn danger">Delete</button></a></td>
      </tr>
      <!-- WHEN NO EMPLOYEES -->
	  <tr th:if="${#lists.isEmpty(employees)}">
	    <td colspan="9" style="text-align:center; color: gray;">
	      No employees found
	    </td>
	  </tr>
    </tbody>
  </table>
</section>


  <!-- ===== SECTION 2: LEAVE APPLICATIONS ===== -->
  <section class="card">
  <h2>Employee Leave Applications</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Application Type</th>
        <th>Leave From</th>
        <th>Leave To</th>
        
        <th>Reason</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="app : ${applications}">
        <td th:text="${app.id}">101</td>

        <td th:text="${app.employee.fullname}">John</td>

        <td th:text="${app.employee.designation}">Developer</td>

        <td th:text="${app.leaveType}">Leave</td>
        
        <td th:text="${app.from_date}">fromDate</td>
        
        <td th:text="${app.to_date}">To date</td>
        

        <td th:text="${app.reason}">Fever</td>
        

        <td>
          <span th:text="${app.status}"
                th:classappend="${app.status=='PENDING'} ? 'pending' :
                                (${app.status=='APPROVED'} ? 'approved' : 'rejected')">
          </span>
        </td>

        <td>
          <a th:if="${app.status=='PENDING'}"
             th:href="@{/application-approve/{id}(id=${app.id})}"
             class="btn small success">Approve</a>
			<br>
			<br>
          <a th:if="${app.status=='PENDING'}"
             th:href="@{/application-reject/{id}(id=${app.id})}"
             class="btn small danger">Reject</a>
        </td>
      </tr>

      <tr th:if="${applications == null || #lists.isEmpty(applications)}">
        <td colspan="7">No applications found</td>
      </tr>
    </tbody>
  </table>
</section>


</main>

<!-- ================= FOOTER ================= -->
<footer>
  <p>© 2026 Employee Leave Management System</p>
</footer>

</body>
</html>
