@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

/* ===== NAVBAR ===== */
.navbar {
  background: #1f2937;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  gap: 10px;
}

/* ===== BUTTONS ===== */
.btn {
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.btn.small {
  padding: 5px 10px;
  font-size: 13px;
}
.edit-btn{background: #2563eb;}
.primary { background: #2563eb; }
.success { background: #16a34a; }
.danger,.delete-btn  { background: #dc2626; }

.btn:hover {
  opacity: 0.9;
}

/* ===== MAIN ===== */
.container {
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 15px;
  color: #1f2937;
}

/* ===== TABLE ===== */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #e5e7eb;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
}

.status.pending {
  background: #fde68a;
  color: #92400e;
}

/* ===== FOOTER ===== */
footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 12px;
}
