<nav class="navbar" th:fragment="navbar">

	<a
		th:href="
    ${session.manager != null} ? @{/manager-dashboard} :
    (${session.employee != null} ? @{/employee-dashboard} : @{/})
   "
		class="logo"> LMS portal </a>
	<!-- Manager name -->
	<span class="username" th:if="${session.manager != null}"
		th:text="${session.manager.fullname + ' (Manager)'}"> Manager Name </span>
	<span class="username" th:if="${session.employee != null}"
		th:text="${session.employee.fullname + ' (Employee)'}"> Manager Name </span>

	<ul class="nav-links">

		<!-- NOT LOGGED IN -->
		<li class="nav-item"
			th:if="${session.manager == null and session.employee == null}">
			<span class="nav-link">Login ▾</span>
			<div class="dropdown-menu">
				<a th:href="@{/login}">Manager Login</a> <a
					th:href="@{/employee-login}">Employee Login</a>
			</div>
		</li>

		<li class="nav-item"
			th:if="${session.manager == null and session.employee == null}">
			<a th:href="@{/manager-register}" class="btn-register"> Register
				Manager </a>
		</li>

		<!-- MANAGER LOGGED IN -->
		<!-- <li class="nav-item" th:if="${session.manager != null}"><a
			th:href="@{/manager-profile}" class="btn-primary">Profile</a></li> -->

		<li class="nav-item" th:if="${session.manager != null}"><a
			th:href="@{/employee/create}" class="btn-primary"> Create
				Employee </a></li>

		<li class="nav-item" th:if="${session.manager != null}">
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn-danger">Logout</button>
			</form>
		</li>

		<!-- EMPLOYEE LOGGED IN -->
		<li class="nav-item" th:if="${session.employee != null}">
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn-danger">Logout</button>
			</form>
		</li>

	</ul>
</nav>
